@import "../../../../styles.scss";

mat-icon:hover {
  color: $danger-color;
}

button {
  border-width: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
