@import "../../../styles.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px solid $accent-color;
  color: $accent-color;
  border-radius: 50%;
  min-width: 1.5rem;
  aspect-ratio: 1;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}
