<app-edit-item [prevLink]="prevLink()" [nextLink]="nextLink()">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Base price</mat-label>
      <input matInput type="number" formControlName="basePrice" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Base weight</mat-label>
      <input matInput type="number" formControlName="baseWeight" />
    </mat-form-field>

    <div class="actions">
      <a mat-button routerLink="/sculptures">Cancel</a>
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </form>
</app-edit-item>
