<app-edit-item
  [prevLink]="prevLink()"
  [nextLink]="nextLink()"
  [title]="id() ? 'Edit sculpture' : 'Create sculpture'"
>
<!-- shit id? -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
      <mat-error
        ><app-form-error [errors]="form.get('name')?.errors" />
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Base price</mat-label>
      <input matInput type="number" formControlName="basePrice" />
      <mat-error
        ><app-form-error [errors]="form.get('basePrice')?.errors" />
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Base weight</mat-label>
      <input matInput type="number" formControlName="baseWeight" />
      <mat-error
        ><app-form-error [errors]="form.get('baseWeight')?.errors" />
      </mat-error>
    </mat-form-field>

    <div class="actions">
      <a mat-button routerLink="/sculptures">Cancel</a>
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </form>
</app-edit-item>
