<mat-form-field>
  <mat-label>Sculpture</mat-label>
  <mat-select
    [value]="sculptureId"
    (valueChange)="changeSculptureHandler($event)"
  >
    @for (sculpture of sculptures(); track sculpture) {
    <mat-option [value]="sculpture.id">{{ sculpture.name }}</mat-option>
    }
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Sculpture</mat-label>
  <mat-select [value]="material" (valueChange)="changeMaterialHandler($event)">
    @for (material of materials; track material) {
    <mat-option [value]="material">{{ material }}</mat-option>
    }
  </mat-select>
</mat-form-field>
