/* You can add global styles to this file, and also import other style files */

$text-secondary: #f9f9f9;

$primary-color: #cadce6;
$secondary-color: #e2e9ec;
$tertiary-color: #f9f9f9;
$accent-color: var(--mdc-filled-button-container-color);
$danger-color: #ff3ba7;

$win-max: 40rem;

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .actions {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;

    & > * {
      flex: 1;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
