<app-edit-item
  [prevLink]="prevLink()"
  [nextLink]="nextLink()"
  [title]="id() ? 'Edit order' : 'Create order'"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Buyer</mat-label>
      <input matInput type="text" formControlName="buyerName" />
      <mat-error
        ><app-form-error [errors]="form.get('buyerName')?.errors" />
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Delivery address</mat-label>
      <input matInput type="text" formControlName="buyerDeliveryAddress" />
      <mat-error
        ><app-form-error [errors]="form.get('buyerDeliveryAddress')?.errors" />
      </mat-error>
    </mat-form-field>

    <div class="configured-sculpture">
      <app-sculpture-generator formControlName="configuredSculpture" />
      <div class="add-container">
        <app-add-button type="button" (add)="onAdd()"></app-add-button>
      </div>
    </div>

    <app-order-summary
      [configuredSculptures]="configuredSculptures()"
      [totalPrice]="totalPrice()"
      [totalWeight]="totalWeight()"
      (delete)="onDelete($event)"
    />

    <app-error-message [message]="errorMessage()" />

    <div class="actions">
      <a mat-button routerLink="/orders">Cancel</a>
      <button mat-flat-button type="submit">Submit</button>
    </div>
  </form>
</app-edit-item>
